/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header nav {
  padding: 16px 100px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  
}
nav, button {
  padding: 12px 16px;
} */

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.green {
  color: #30b868;
}

.white {
  color: #ffffff;
}

/* Shared Class */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header nav {
  padding: 16px 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav button {
  padding: 12px 16px;
  background-color: #469165;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: #000000;
}
.banner-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 175px 260px;
  /* max-width: 500px;
  margin: 0 auto; */
  /* height: 600px; */
  text-align: center;
}

/* .banner-container button {
  padding: 4px;
  background-color: #ffffff;
} */

.title-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #30b868;
}
.banner-container h1 {
  font-weight: bold;
  font-size: 72px;
}
.banner-container h3 {
  padding: 16px 0 16px 0;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.banner-gap {
  padding-top: 8px;
}

.banner-btn-1 {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #30b868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.banner-btn-2 {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  /* background-color: #30b868; */
  color: #ffffff;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
}

.banner-container div {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.note-section {
  /* max-width: 1680px; */
  margin: 0 auto;
  background-color: #f7f6f2;
}

.notes-title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}
.notes-title-container h1 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  padding: 70px 0 16px 0;
}
.notes-title-container p {
  color: #627382;
  padding-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
}
.notes-container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 50px 50px 0px 50px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

  /* box-shadow: 20px 0px 0px 1px #F7F6F2; */
}
.note-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 30px;
  /* width: 50px; */
  /* padding: 16px; */
  background-color: #f95555;
  border-radius: 50%;
}
.notes-container-box h4 {
  color: #001931;
  font-weight: 600;
  font-size: 24px;
  padding: 16px 0;
}

.notes-container-box p {
  color: #627382;
  font-weight: 400;
  font-size: 16px;
}
.single-note {
  display: flex;
  flex-direction: column;
}

.solution-section {
  padding-top: 50px;
}

.second-brain {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  padding: 120px;
  /* border: 1px solid red; */
}
.brain-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brain-details h5 {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  padding-bottom: 24px;
}
.brain-details h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-bottom: 18px;
}
.second-brain-p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  padding-bottom: 50px;
}
.tick {
  display: flex;
  gap: 8px;
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 16px;
}
.early-access {
  padding: 0px 120px 120px 120px;
}
.early-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  padding: 80px 40px;
  background-color: #f7f6f2;
}
.access-btn {
  /* background: #000; */
  display: flex;
  justify-content: center;
}
.early-items h2 {
  font-weight: bold;
  font-size: 40px;
  color: #001931;
  padding-bottom: 18px;
}
.early-items p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 24px;
}
.early-items div {
  padding-bottom: 18px;
}
.early-items button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #30b868;
  padding: 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background: var(--#30B868, rgba(70, 145, 101, 1));
}
.early-items h6 {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}
.footer {
  background-color: #001931;
}
.footer-first {
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 80px 120px;
}
/* .footer-social {
  display: flex;
  flex-direction: column;
} */

.footer-img {
  display: flex;
  gap: 16px;
}
.social {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 18px;
}
.social-img {
  margin-right: 100px;
}

.hrp {
  padding: 0px 120px 30px 120px;
}
/* .hrp hr {
  border: 0.5px solid #E5E7EB;
} */

.hrp p {
  text-align: center;
  padding-top: 30px;
  color: #FAFAFA;
}
hr {
  border: none;
  height: 1px;
  background-color: #627382;
}

